* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

button {
    outline: none;
    border: none;
    background-color: #0000;
}

